@font-face {
  font-family: 'agrandirwide_bold';
  src: url('Fonts/agrandir-widebold-webfont.woff') format('woff2'),
    url('/Fonts/agrandir-widebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url('Fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('Fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('Fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('Fonts/sourcesanspro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url('Fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
    url('Fonts/sourcesanspro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Estilos base */
:root {
  --titulo: 'agrandirwide_bold', Helvetica, sans-serif;
  --cuerpo-importante: 'source_sans_prosemibold', sans-serif;
  --cuerpo: 'source_sans_proregular', sans-serif;
  --subtitulo: 'source_sans_problack', Helvetica, sans-serif;
  --fs-title: clamp(1.5rem, 5vw + 1rem, 3rem);
  --fs-description: clamp(0.5rem, 2.5vw + 0.2rem, 2rem);
  --fs-subtitle: clamp(0.5rem, 3vw + 0.3rem, 1.5rem);
  --fs-text: clamp(0.5rem, 2.25vw + 0.2rem, 1.5rem);
}
html {
  background: azure;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: clamp(5rem, 10vw + 5rem, 9rem);
  padding-bottom: 24px;
  overflow-x: hidden;
}
.overflow {
  overflow-x: hidden;
}
#speciesbody {
  padding-top: clamp(3rem, 5vw + 5rem, 6.5rem);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8px;
  gap: 8px;
}
.header {
  grid-column: span 4;
}
h1 {
  font-family: var(--titulo);
  font-size: var(--fs-title);
  line-height: 1.2em;
  color: white;
  grid-column: span 4;
  background: #000063;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 8px;
  position: absolute;
  width: 100%;
}
h2 {
  font-family: var(--titulo);
  font-size: calc(var(--fs-subtitle) * 1.2);
  color: #5d1c81;
  text-align: center;
  margin-top: 0.25rem;
  margin-bottom: 0.1rem;
  transform: translate(0, 50%);
}
.logo {
  position: absolute;
  top: 1.1rem;
  right: 0.4rem;
  width: 5rem;
  z-index: 99999;
}
#galleryt {
  margin-top: 0;
  margin-bottom: 0.2rem;
}
.description {
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 1vw;
  grid-column: span 4;
  font-family: var(--cuerpo-importante);
  font-size: var(--fs-description);
}
#speciesdescription {
  font-family: var(--cuerpo);
  padding-left: 10vw;
  padding-right: 10vw;
}
#descmap {
  font-family: var(--cuerpo);
  font-size: calc(var(--fs-description) / 1.25);
  font-style: italic;
  padding-left: 4vw;
  color: #6798e8;
  margin-bottom: 0.5rem;
  transform: translate(0, -140%);
}
#gallerydescription {
  font-family: var(--cuerpo);
  font-size: calc(var(--fs-description) / 1.15);
  padding-left: 10vw;
  padding-right: 10vw;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
.searchbar {
  grid-column: span 4;
  position: relative;
  background: aliceblue;
  width: 70vw;
  height: 3rem;
  border-radius: 100vh;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 1.8px -3px rgba(0, 0, 0, 0.059),
    0px 0px 5px -3px rgba(0, 0, 0, 0.085),
    0px 0px 12.1px -3px rgba(0, 0, 0, 0.111),
    0px 0px 40px -3px rgba(0, 0, 0, 0.17);
  margin-bottom: 2vw;
}
.searchbar .icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(5%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar .icon::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border: 3.5px solid #5d1c81;
  border-radius: 100vh;
  transform: translate(-1px, -2px);
}
.searchbar .icon::after {
  content: '';
  position: absolute;
  height: 12px;
  width: 3.5px;
  background: #5d1c81;
  border-radius: 100vh;
  transform: translate(9px, 8px) rotate(315deg);
}
.searchbar .input {
  position: relative;
  width: 70%;
  height: 2.2rem;
  left: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar .input input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -32%);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: clamp(0.15rem, 4vw + 0.2rem, 1rem);
  font-family: var(--cuerpo-importante);
  font-style: italic;
  padding-bottom: 6px 0;
  background: inherit;
}
.clear {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-22%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 100vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 16px;
  background: #5d1c81;
  transform: rotate(45deg);
  border-radius: 100vh;
}
.clear::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 16px;
  background: #5d1c81;
  transform: rotate(315deg);
  border-radius: 100vh;
}
.card-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  align-items: center;
}
.card {
  margin-top: 1rem;
  position: relative;
  background: #6798e8;
  border-radius: 0.7rem;
  line-height: 1rem;
  width: 89vw;
  height: clamp(4.8rem, 13vw + 1rem, 7.8rem);
  max-width: 900px;
  padding: 0.2rem;
  box-shadow: 0px 0px 0.8px -2px rgba(0, 0, 0, 0.21),
    0px 0px 1.8px -2px rgba(0, 0, 0, 0.16),
    0px 0px 3.1px -2px rgba(0, 0, 0, 0.137),
    0px 0px 4.9px -2px rgba(0, 0, 0, 0.12),
    0px 0px 7.5px -2px rgba(0, 0, 0, 0.105),
    0px 0px 11.8px -2px rgba(0, 0, 0, 0.09),
    0px 0px 19.5px -2px rgba(0, 0, 0, 0.073),
    0px 0px 39px -2px rgba(0, 0, 0, 0.05);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    'card-header map'
    'card-body map';
}
.card-header {
  grid-area: card-header;
  color: azure;
  font-family: var(--titulo);
  font-size: calc(var(--fs-subtitle) * 0.9);
  margin-top: 1vw;
  margin-bottom: 0.1vw;
  margin-right: 0.4rem;
  margin-left: 0.45rem;
  border: 2px none;
}
.card-body {
  grid-area: card-body;
  font-family: var(--cuerpo);
  font-size: var(--fs-text);
  height: clamp(2.8rem, 7vw, 4.5rem);
  line-height: 1em;
  display: flex;
  align-items: center;
  margin-right: 0.4rem;
  margin-left: 0.45rem;
  margin-bottom: 0.5vw;
  border: 2px none;
}
.map {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-right: 0.45rem;
  grid-area: map;
  border-radius: 0.5rem;
  min-width: 8rem;
  height: clamp(4rem, 11vw + 1rem, 7rem);
  border: 2px solid red;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
.gallery-wrapper {
  margin: 2vw;
  margin-top: 1.5rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed red;
  border-radius: 0.5rem;
}
.pic .img {
  width: 100;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.hide {
  display: none;
}
.main-wrapper {
  white-space: pre-wrap;
}
.mapcontainer {
  transform: translate(0, -9.5%);
  box-shadow: 0px 0px 1.8px -4px rgba(0, 0, 0, 0.059),
    0px 0px 5px -4px rgba(0, 0, 0, 0.085),
    0px 0px 12.1px -4px rgba(0, 0, 0, 0.111),
    0px 0px 40px -4px rgba(0, 0, 0, 0.17);
}
.backB {
  position: absolute;
  top: 4.8rem;
  right: 1rem;
  background-color: azure;
  border: 6px solid #000063;
  border-radius: 50%;
  cursor: pointer;
  width:3.5rem;
  height: 3.5rem;
  z-index: 999;
  box-shadow:
  0px 0px 0.5px rgba(0, 0, 0, 0.075),
  0px 0px 1.3px rgba(0, 0, 0, 0.104),
  0px 0px 2.4px rgba(0, 0, 0, 0.123),
  0px 0px 4.2px rgba(0, 0, 0, 0.139),
  0px 0px 7.9px rgba(0, 0, 0, 0.161),
  0px 0px 19px rgba(0, 0, 0, 0.22)
;
}
#homeS {
  position: relative;
  transform: translate(12%, 8%);
  height: 80%;
  z-index: 9999;
  filter: invert(59%) sepia(90%) saturate(1840%) hue-rotate(192deg)
    brightness(97%) contrast(88%);
}
